.errorGreen {
  padding: 1em;
  background-color: rgb(163, 163, 163);
  border-radius: 1em;
  margin-bottom: 1em;
  border: 3px solid green;
  color: green;
  text-transform: lowercase;
}

.errorRed {
  padding: 1em;
  background-color: rgb(163, 163, 163);
  border-radius: 1em;
  margin-bottom: 1em;
  border: 3px solid red;
  color: rgb(255, 0, 0);
  text-transform: lowercase;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  background-color: rgb(190, 190, 190);
}

#item {
  padding: 0.2em;
}